# Distributable
dist

# Parcel Dev Artifacts
.cache

# Logs
logs
*.log
*.log.*

# dependencies
node_modules
# Distributable
dist

# Parcel Dev Artifacts
.cache

# Logs
logs
*.log
*.log.*

# dependencies
node_modules
# Distributable
dist

# Parcel Dev Artifacts
.cache

# Logs
logs
*.log
*.log.*

# dependencies
node_modules

# excalidraw png files
*:Zone.Identifier
